<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Please login to proceed.</p>
        <div class="box">
          <figure class="avatar">
            <img src="https://placehold.it/128x128">
          </figure>
          <%= form_with url: login_path, scope: :session, local: true do |form| %>
            <div class='field'>
              <%= form.label :email, class:"label" %>
              <div class='control has-icons-left'>
                <%= form.email_field :email, class:"input is-large", placeholder: "Email" %>
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
              </div>
            </div>
            <div class='field'>
              <%= form.label :password, class:"label" %>
              <div class='control has-icons-left'>
                <%= form.password_field :password, class:"input is-large", placeholder: "Password" %>
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
            </div>
            <%= form.submit "Log in", class: "button is-block is-info is-large is-fullwidth" %>
          <% end %>
        </div>
        <p class="has-text-grey">
          <%= link_to 'Create Account', new_user_path %> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
<script async type="text/javascript" src="../js/bulma.js"></script>
