<article class="media">
  <div class="media-content">
  <%= form_with model: [tweet, comment], local: true do |form|  %>
  <div class="field">
      <p class="control">
           <%= form.label :commenter, class:"label" %>
           <%= form.text_field :commenter, class: "input is-rounded", placeholder: "Your name Here!" %>
            <% if comment.errors.any? %>
              <% comment.errors.full_messages_for(:commenter).each do |msg| %>
                  <p class="help is-danger"><%= msg %></p>
              <% end %>
            <% end %>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <%= form.label :body, class:"label" %>
        <%= form.text_field :body, class: "textarea is-rounded", placeholder: "Your comment here!" %>
          <% if comment.errors.any? %>
              <% comment.errors.full_messages_for(:body).each do |msg| %>
                  <p class="help is-danger"><%= msg %></p>
              <% end %>
          <% end %>
      </p>
    </div>
    <nav class="level">
      <div class="level-right">
        <%= form.submit submit, class: "button is-success is-info" %>
         <%= link_to 'Cancel', tweet_path(tweet), class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>

</article>

<% if comment.errors.any? %>
        <% tweet.errors.full_messages_for(:commenter).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
                <% end %>
                <% end %>