



<div class="columns is-half is-offset-one-quarter">
  <div class="column is-half is-offset-one-quarter">
    <%= form_with model: tweet, local: true do |form| %>
        <%= form.label :title, class:"label" %>
        <%= form.text_field :title, class:"input is-rounded", placeholder: "Place your title here"%>
        <% if tweet.errors.any? %>
        <% tweet.errors.full_messages_for(:title).each do |msg| %>
        <p class="help is-danger"><%= msg %></p>
                <% end %>
                <% end%>

      <p>
        <%= form.label :body, class:"label" %>
        <%= form.text_area :body, class:"textarea", placeholder: "Place your text here" %>
      </p>

      <p>
        <%= form.submit submit, class: "button is-success is-info" %>
        <button class="button is-link is-outlined is-info"><%= link_to 'Cancel', root_path %></button>
      </p>
    <% end %>
  </div>
</div>

