    <div class="content">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title">
          <strong><%= @tweet.title %></strong>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <%= @tweet.body %>
          </div>
        <footer class="card-footer">
          <span>
            <i class="fas fa-clock"></i>
            <%= @tweet.created_at.strftime("%d %b %Y, %H:%M") %>
          </span>
        </footer>
                  <br>
        <div class="buttons">
          <button class="button is-success is-info"><%= link_to 'OK', root_path %></button>
          <button class="button is-link"><%= link_to 'Edit', edit_tweet_path %></button>
          <button class="button is-danger" id="myBtn">Delete</button>
        </div>
      </div>
    </div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this Tweet?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="button is-danger" data-dismiss="modal"><%= link_to "Yes", tweet_path, method: :delete %></button>

          <button type="button" class="button is-success is-info" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  
<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>