    <div class="content">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title">
          <strong><%= @tweet.title %></strong>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <%= @tweet.body %>
          </div>
        <footer class="card-footer">
          <span>
            <i class="fas fa-clock"></i>
            <%= @tweet.created_at.strftime("%d %b %Y, %H:%M") %>
          </span>
        </footer>
                  <br>
        <div class="buttons">
          <button class="button is-success is-info"><%= link_to 'OK', tweets_path %></button>
          <% if logged_in? && equal_with_current_user?(tweet.user) %>
          <button class="button is-link"><%= link_to 'Edit', edit_tweet_path %></button>
          <button class="button is-danger"><%= link_to 'Delete', tweet_path, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          <% end %>
          <% if logged_in? %>
          <button class="button is-light"><%= link_to 'New Comment', new_tweet_comment_path(@tweet) %></button>
          <% end %>
        </div>
      </div>
    </div>
