<div class="columns is-centered">
  <div class="column is-6">
    <div class="box content">
      <% @tweets.each do |tweet| %>
        <article class="post">
          <p> <small>Posted by: <%= tweet.user.name %> | <%= time_ago_in_words(tweet.created_at) %> ago</small></p>
          <div class="media">
            <div class="media-left">
              <p class="image is-32x32">
                <% if tweet.user.profile_picture.present? %>
                  <%= link_to image_tag(tweet.user.profile_picture, class:"image"), user_path(tweet.user) %>
                <% end %>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <h2><%= link_to tweet.title, tweet_path(tweet) %></h2>
              </div>
            </div>
            <div class="media-right">
              <span class="has-text-grey-light"><i class="fas fa-comments"></i> <%= tweet.comments.count %></span>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</div>
