<div class="box">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @tweet.title %></strong>
          <br>
          <%= @tweet.body %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="buttons">
  <button class="button is-success"><%= link_to 'OK', root_path %></button>
  <button class="button is-info"><%= link_to 'Edit', edit_tweet_path %></button>
  <button class="button is-danger"><%= link_to 'Delete', tweet_path, method: :delete, data: { confirm: "Are you sure you want to delete this Tweet?" } %></button>
</div>

