<section class="hero is-primary">
  <div class="hero-body">
      <h1 class="title has-text-centered">
        <%= title %>
      </h1>
  </div>
</section>
<br>

<div class="columns is-half is-offset-one-quarter">
  <div class="column is-half is-offset-one-quarter">
      <article class="tile is-child notification">
        <div class="content">
          <% if local_assigns[:new] %>
        <p class="heading"> Please fill up the form for registration! </p>
          <% end %>

          <%= form_with model: @user, local: true do |form| %>
            <div class='field'>
            <%= form.label :name, class:"label" %>
              <div class='control has-icons-left'>
              <%= form.text_field :name, class:"input", placeholder: "Your name here!"%>
              <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
              <% if @user.errors.any? %>
            <% @user.errors.full_messages_for(:name).each do |msg| %>
                <p class="help is-danger"><%= msg %></p>
              <% end %>
              <% end %>
              </div>
            </div>

            <div class='field'>
              <%= form.label :email, class:"label" %>
                <div class='control has-icons-left'>
                  <%= form.email_field :email, class:"input", placeholder: "Email" %>
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                    <% if @user.errors.any? %>
            <% @user.errors.full_messages_for(:email).each do |msg| %>
                <p class="help is-danger"><%= msg %></p>
              <% end %>
              <% end %>
                </div>
            </div>

            <div class='field'>
              <%= form.label :password, class:"label" %>
                <div class='control has-icons-left'>
                    <%= form.password_field :password, class:"input", placeholder: "Password" %>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        <% if @user.errors.any? %>
                          <% @user.errors.full_messages_for(:password).each do |msg| %>
                          <p class="help is-danger"><%= msg %></p>
                        <% end %>
                          <% end %>

                </div>
            </div>

            <div class='field'>
              <%= form.label :password_confirmation, class:"label" %>
                <div class='control'>
                  <%= form.password_field :password_confirmation, class:"input", placeholder: "Confirm password" %>
                    <% if @user.errors.any? %>
                      <% @user.errors.full_messages_for(:password_confirmation).each do |msg| %>
                        <p class="help is-danger"><%= msg %></p>
                    <% end %>
                      <% end %>
                </div>
            </div>

            <div class='control'>
              <%= form.submit submit, class: "button is-success is-info" %>
              <button class="button is-link is-outlined is-info"><%= link_to 'Cancel', root_path %></button>
            </div>

            <% end %>
      </article>
    </div>
  </div>
</div>
