<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ">
    <%= link_to (image_tag 'logo1', size: "230x350"), root_path %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if logged_in? %>
        <button class="button is-primary is-inverted"><%= link_to 'New Tweet', new_tweet_path %></button>
            <button class="button is-primary is-inverted"><%= link_to 'Logout', logout_path, method: :delete %></button>
            <span class="tag is-info is-light mb-2"><%= current_user.name %></span>
          <% else %>
            <button class="button is-primary is-inverted"><%= link_to 'Login', login_path %></button>
            <button class="button is-primary is-inverted"><%= link_to 'Sign Up', new_user_path %></button>
        <% end %>
      </div>
    </div>
  </div>
</nav>